/* arquivo com todo o css que possui nos modulos, o css do navBar eu preferi usar o bootstrap, não fiz a responsividade. */


.navBar {
  width: 100%;
  background-color: black;
  padding: 23px 47px 11px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.navBar > svg {
  width: 100px;
}

.mainContainer {
  padding: 3% 11%;
  margin-top: 30px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.productPreview {
  width: 50%;
}

.productPreview > img {
  width: 100%;
  position: relative;
}
.watchHour {
  color: white;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 58%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.stoneWatchLogo {
  position: absolute;
  top: 46.3%;
  left: 26.5%;
  animation: logoWatch 1s infinite;
}
@keyframes logoWatch {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15, 1.15);
  }
}

.productData {
  width: 50%;
}

.productTitle {
  font-size: 46px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 15px;
}

.productDesc {
  font-size: 19px;
  color: black;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 15px;
}

.sectionText {
  font-size: 26px;
  margin-bottom: 9px;
}

.productImage {
  width: 100%;
  max-width: 80px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 12px;
  margin-bottom: 9px;
}

.selectedProductImage {
  border: 2px solid black;
  margin-bottom: 9px;
}

.featureItem {
  box-sizing: content-box;
  font-weight: 500;
  background-color: rgb(66, 236, 154);
  color: rgb(32, 37, 42);
  border: 0;
  border-radius: 8px;
  padding: 11px 22px;
  min-width: 80px;
  text-align: center;
  margin-right: 12px;
  cursor: pointer;
}

.selectedFeatureItem {
  border: 2px solid black;
}

.buyBtn {
  font-weight: 500;
  padding: 11px 22px;
  margin-top: 35px;
  margin-left: 70px;
  background-color: rgb(66, 236, 154);
  color: rgb(32, 37, 42);
  border-radius: 8px;
  font-size: 20px;
  border: 0;
}
